<h4>Добавить напиток в меню</h4>

<div id="error" data-error="name" class="alert alert-warning my-2">
    Такой напиток уже есть в меню
</div>

<form method="post" action="/add-menu">
    <div class="my-3">
        <label for="role">Напиток</label>
        <select class="form-select" name="drinkid" id="drinkid">
            <% for (let drink of data) { %>
            <option value="<%= drink.id %>"><%= drink.name %></option>
            <% } %>
        </select>
    </div>
    <div class="d-flex gap-2 my-4">
        <button class="btn btn-primary w-50">Добавить</button>
        <a href="/menu" class="btn btn-outline-primary w-50">Назад</a>
    </div>
</form>