<ul class="nav nav-underline mb-4">
    <li class="nav-item">
        <a href="/" class="nav-link active">Сотрудники</a>
    </li>
    <li class="nav-item">
        <a href="/menu" class="nav-link">Меню</a>
    </li>
    <li class="nav-item">
        <a href="/components" class="nav-link">Заказ компонентов</a>
    </li>
    <li class="nav-item">
        <a href="/income" class="nav-link">Выручка</a>
    </li>
</ul>

<div>
    <a class="btn btn-primary" href="/new-user">Новый пользователь</a>
</div>

<table class="table align-middle my-4">
    <thead>
        <tr>
            <th scope="col">Имя пользователя</th>
            <th scope="col">ФИО</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% for (let user of data) {%>
        <tr>
            <td><%= user.username %></td>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><form method="post" action="/delete-user"><input type="text" hidden name="username" id="username" value="<%= user.username %>"><button class="btn btn-outline-primary" type="submit">X</button></form></td>
        </tr>
        <% } %>
    </tbody>
</table>